main {
    position: absolute;
    width: 100%;
    top: 4rem;
    z-index: 1;
}
app-sidebar {
    position: absolute;
    padding-top: 18px;
    margin-top: 0px;
    margin-left: 2px;
    left: 0rem;
    top:18px;
    width: 90px;
    height: calc(100vh - 84px);/*change*/
    background-color:  #0C747E;
}
app-items {
    position: absolute;
    padding-top: 0;
    left: 0rem;
    margin-left: 80px;
    width: 230px;
    height: calc(100vh - 84px);/*change*/
    border-right: 1px solid #000000;
    border-top-right-radius: 18px;
    border-bottom: 2px solid #000000;

    background-color: transparent;
    align-content: top;
}






