.navbar-brand{
    font-size: 22px;
    margin-left: 10px;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #FFFFFF;
}
.navbar {
    background-color: #0C747E;
    margin-left: 0px;
}
.para{
    margin-left: 10px;
    font-size: 14px;
}
.container-fluid p{
   margin-top: 4px;
   color: #FFFFFF;
}
.icons {
    color: #FFFFFF;
    font-size: 20px;
    padding-right: 10px;
}
.icons li {
    margin-right: 15px;
}
a:hover {
    cursor: pointer;
}
.col-md-6{
    margin-top:1px;
}