<nav class="navbar">
  <div class="container-fluid">
   <div class="col-md-6">
    <p> </p>
    
    <a class="navbar-brand">ZT ASSESSMENT</a>
    <p> </p>
   </div>
    <span class="icons">
      <a><i class="bi bi-chat-left-fill"></i></a>&nbsp;&nbsp;
      <a><i class="bi bi-gear"></i></a>&nbsp;&nbsp;
      <a><i class="bi bi-brightness-low"></i></a>&nbsp;&nbsp;
      <a><i class="bi bi-person-fill"></i></a>&nbsp;&nbsp;
      <a><i class="bi bi-power"></i></a>&nbsp;&nbsp;
    </span>
  </div>
</nav>